<div width="100%"
    style="background: #f8f8f8; padding: 0px 0px; line-height:28px; height:100%;  width: 100%; color: #514d6a;">
    <div style="max-width: 700px; margin: 0px auto; font-size: 14px">
        <div style="padding: 40px; background: #fff;">
            <table border="0" cellpadding="0" cellspacing="0" style="width: 100%; text-align: center;">
                <tbody>
                    <tr>
                        <td class="content-block" style="vertical-align: top;text-align: center;" align="center">
                            <a href={{storeUrl}} class="cursor-pointer">
                                <img src={{ecommerceLogo}} alt="" height="55" style="border:none">
                            </a>
                        </td>
                    </tr>
                    <tr>
                        <td class="content-block">
                            <div style="font-size: small; font-family:arial;font-weight:100;line-height: 1.5em;">
                                <span style="font-weight:500;color: #18191C">Hi {{fullName}},</span>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td class="content-block">
                            <div style="font-size: small; font-family:arial;font-weight:100;line-height: 1.5em;">
                                <span style="font-weight:500;color: #18191C">Rental #{{orderDetails.order_id}} was supposed to begin on
                                    {{orderDetails.start_date}}. Unfortunately, since it is 3 days past the rental start date
                                    and the order has not been shipped, we will be cancelling the order. </span>
                            </div>
                        </td>
                    </tr>

                    <tr>
                        <td class="content-block">
                            <div style="font-size: small; font-family:arial;font-weight:100;line-height: 1.5em;">
                                <span style="font-weight:500;color: #18191C">If this is a mistake, please email our team
                                    immediately. As per our <a href="{{storeUrl}}/privacy-policy"
                                        style="color: #D0893B; font-weight:700; text-decoration:none;">policy</a>, a fee
                                    of $15 will be charged to the card on file. We hope that you can resume renting out
                                    your closet! As a reminder, if you are out of town and unable to ship, add to your
                                    <a href="{{storeUrl}}/profile"
                                        style="color: #D0893B; font-weight:700; text-decoration:none;">Closet Blackout</a> dates on your account profile to avoid issues like this happening
                                    in the future!</span>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td class="content-block">

                            <div style="font-weight:500;color: #18191C">Thank you,
                            </div>
                            <div style="font-weight:500;color: #18191C">E-Commerce Team</div>
                        </td>
                    </tr>
                    <tr>
                        <td class="content-block"
                            style="border-top:1px solid #f6f6f6; padding-top:20px;padding-bottom:10px; color:#777">


                            <span style="font-weight:500; color: #18191C">Visit our <a
                                    href="{{storeUrl}}/faq"
                                    style="color: #D0893B; font-weight:700; text-decoration:none;">FAQ page</a> or if
                                you
                                have any questions email </span>
                            <a href="mailto:{{mailTo}}"
                                style="color: #D0893B; font-weight:700; text-decoration:none;">info@ecommerce.co</a>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>