<div width="100%"
    style="background: #f8f8f8; padding: 0px 0px; line-height:28px; height:100%;  width: 100%; color: #514d6a;">
    <div style="max-width: 700px; margin: 0px auto; font-size: 14px">
        <div style="padding: 40px; background: #fff;">
            <table border="0" cellpadding="0" cellspacing="0" style="width: 100%; text-align: center;">
                <tbody>
                    <tr>
                        <td class="content-block" style="vertical-align: top;text-align: center;" align="center">
                            <a href={{storeUrl}} class="cursor-pointer">
                                <img src={{ecommerceLogo}} alt="" height="55" style="border:none">
                            </a>
                        </td>
                    </tr>
                    <tr>
                        <td class="content-block">
                            <div style="font-size: small; font-family:arial;font-weight:100;line-height: 1.5em;">
                                <span style="font-weight:500;color: #18191C">Hi {{fullName}},</span>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td class="content-block">
                            <div style="font-size: small; font-family:arial;font-weight:100;line-height: 1.5em;">
                                <span style="font-weight:500;color: #18191C">It's almost time to return your rental!
                                    Please contact the Rotator to return your rented item's. Please make sure to CC
                                    E-Commerce.
                                </span>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td class="content-block">
                            <div
                                style="font-size: small; font-family:arial;font-weight:100;line-height: 1.5em;margin-bottom: 0;">
                                <span style="font-weight:700;color: #D0893B">Items</span>
                                <div style="text-align:center;">
                                    {{#if orderDetails.items}}
                                    {{#each orderDetails.items}}
                                    <div style="max-width: 135px; min-width: 135px; padding: 10px; display:inline-block;"
                                        class="box">
                                        <figure style="width: 100%;">
                                            <a href="{{../storeUrl}}/product-details/ecommerce_jhf_{{id}}">
                                                <img src={{image_url}} alt="" style="width: 100%; height: 159px;">
                                            </a>
                                        </figure>
                                        <span
                                            style="text-align: center; font-weight:500; color: #18191C">{{title}}</span>
                                    </div>
                                    {{/each}}
                                    {{/if}}
                                </div>
                                <span style="font-weight:700;color: #D0893B">Rental Dates</span>
                                <p>{{orderDetails.start_date}} - {{orderDetails.end_date}}</p>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td class="content-block">
                            <div style="font-weight:700;color: #D0893B">
                                Rotator contact info</div>
                            <div style="font-weight:500;color: #18191C">
                                <address>
                                    <a href="mailto:{{orderDetails.sellerAddress.email}}"
                                        style="color: #18191C;">{{orderDetails.sellerAddress.email}}</a><br>
                                    <a href="tel:+{{orderDetails.sellerAddress.phone_number}}"
                                        style="color: #18191C;">{{orderDetails.sellerAddress.phone_number}}</a>
                                </address>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td class="content-block">
                            <div style="font-size: small; font-family:arial;font-weight:100;line-height: 1.5em;">
                                <span style="font-weight:500;color: #18191C">
                                    Please make sure to coorindate the rental drop off before or on the
                                    {{orderDetails.end_date}}. We've put together a list to ensure the rental drop off
                                    is successful for you
                                    and the Rotator! As a reminder, you must return the item within three days of your
                                    rental period ending to avoid late fees!
                                </span>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td class="content-block">
                            <ol style="font-weight:500;color: #18191C">
                                <li>Reach out to your Rotator on or before the {{orderDetails.end_date}} to exchange the
                                    items
                                </li>
                                <li> <span style="font-weight: 500;"> Coorindate your local drop off rental on or before
                                        {{orderDetails.end_date}}</span></li>
                                <li>Put the rental in the same reusable bag for drop off</li>
                                <li> <a href="{{storeUrl}}/profile" style="text-decoration: none;"> <span
                                            style="font-weight: 700; color:#D0893B;">Mark in your active order
                                            details the rental has
                                            been returned</span></a></li>
                                <li>Reach out to E-Commerce if you have any issues or questions!</li>
                            </ol>
                        </td>
                    </tr>
                    <tr>
                        <td class="content-block">
                            <div style="font-size: small; font-family:arial;font-weight:100;line-height: 1.5em;">
                                <span style="font-weight:700;color: #D0893B">
                                    A few reminders:
                                </span>
                            </div>
                            <ul
                                style="font-size: small; font-family:arial;font-weight:100;line-height: 1.5em;margin-bottom: 0;">
                                <li style="font-weight:500;color: #18191C">You are responsible for cleaning your item
                                </li>
                                <li style="font-weight:500;color: #18191C">The renter should come to you to pick up the
                                    item</li>
                                <li style="font-weight:500;color: #18191C">Confirm the renter matches the details in our
                                    email</li>
                                <li style="font-weight:500;color: #18191C">Once your rental has been picked up by the
                                    renter we will send you your earnings</li>
                            </ul>
                        </td>
                    </tr>
                    <tr>
                        <td class="content-block">

                            <div style="font-weight:500;color: #18191C">Happy Rotating!,
                            </div>
                            <div style="font-weight:500;color: #18191C">E-Commerce Team</div>
                        </td>
                    </tr>
                    <tr>
                        <td class="content-block"
                            style="border-top:1px solid #f6f6f6; padding-top:20px;padding-bottom:10px; color:#777">
                            <span style="font-weight:500; color: #18191C">Visit our <a href="{{storeUrl}}/faq"
                                    style="color:  #D0893B; font-weight:700; text-decoration:none;">FAQ page</a> or if
                                you have any questions email</span>
                            <a href="mailto:{{mailTo}}" style="color:  #D0893B; font-weight:700; text-decoration:none;">
                                info@ecommerce.co</a>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>