<div width="100%"
    style="background: #f8f8f8; padding: 0px 0px; line-height:28px; height:100%;  width: 100%; color: #514d6a;">
    <div style="max-width: 700px; margin: 0px auto; font-size: 14px">
        <div style="padding: 40px; background: #fff;">
            <table border="0" cellpadding="0" cellspacing="0" style="width: 100%; text-align: center;">
                <tbody>
                    <tr>
                        <td class="content-block" style="vertical-align: top;text-align: center;" align="center">
                            <a href={{storeUrl}} class="cursor-pointer">
                                <img src={{ecommerceLogo}} alt="" height="55" style="border:none">
                            </a>
                        </td>
                    </tr>
                    <tr>
                        <td class="content-block">
                            <div style="font-size: small; font-family:arial;font-weight:100;line-height: 1.5em;">
                                <span style="font-weight:500;color: #18191C">Hi
                                    {{fullName}},</span>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td class="content-block">
                            <div style="font-size: small; font-family:arial;font-weight:100;line-height: 1.5em;">
                                <span style="font-weight:500;color: #18191C">
                                    Congrats again on your rental #{{orderDetails.order_id}} for {{orderDetails.productsList}}. </span>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td class="content-block">
                            <div style="font-size: small; font-family:arial;font-weight:100;line-height: 1.5em;">
                                <span style="font-weight:500;color: #18191C">
                                    This is a friendly reminder that the rental
                                    starts on {{orderDetails.start_date}}. We recommend sending items at
                                    least FOUR days before the rental start date to
                                    ensure it gets to the renter on time!</span>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td class="content-block">
                            <div style="font-size: small; font-family:arial;font-weight:100;line-height: 1.5em;">
                                <span style="font-weight:500;color: #18191C">
                                    Click the button below to print your shipping
                                    label!</span>
                            </div>
                            <div style="font-weight:700;color: #18191C"><a href="{{storeUrl}}/profile"
                                    style="display: inline-block; padding: 9px 20px; margin: 20px 0px 30px; font-size: 15px;font-weight:700; color: #fbf7f3; background: #D0893B; border-radius: 5px; text-decoration:none;">Download Shipping Label</a>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td class="content-block">
                            <div style="font-weight:500;color: #18191C">Happy
                                Rotating!
                            </div>
                            <div style="font-weight:500;color: #18191C">E-Commerce Team
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td class="content-block">
                            <div style="font-size: small; font-family:arial;font-weight:100;line-height: 1.5em;">
                                <span style="font-weight:700;color: #D0893B">
                                    A few reminders:
                                </span>
                            </div>
                            <ul
                                style="font-size: small; font-family:arial;font-weight:100;line-height: 1.5em;margin-bottom: 0;">
                                <li style="font-weight:500;color: #18191C">You are
                                    responsible for cleaning your item
                                </li>
                                <li style="font-weight:500;color: #18191C"> Once
                                    you have shipped the items, press the <a href="{{storeUrl}}/profile"
                                        style="color:  #D0893B; font-weight:700; text-decoration:none;">Mark as
                                        Shipped</a> in your
                                    order details page </li>
                                <li style="font-weight:500;color: #18191C">Once
                                    your rental has been marked as received by the
                                    Renter, we will send you your earnings </li>
                                <li style="font-weight:500;color: #18191C">Once
                                    you have received the items back, press the <a
                                        href="{{storeUrl}}/profile"
                                        style="color:  #D0893B; font-weight:700; text-decoration:none;">Mark as
                                        Returned</a> in your order details page</li>
                            </ul>
                        </td>
                    </tr>
                    <tr>
                        <td class="content-block"
                            style="border-top:1px solid #f6f6f6; padding-top:20px;padding-bottom:10px; color:#777">


                            <span style="font-weight:500; color: #18191C">Visit our <a
                                    href="{{storeUrl}}/faq"
                                    style="color:  #D0893B; font-weight:700; text-decoration:none;">FAQ page</a> or if
                                you
                                have any questions email </span>
                            <a href="mailto:{{mailTo}}"
                                style="color:  #D0893B; font-weight:700; text-decoration:none;">info@ecommerce.co</a>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>